@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.navbar-custom {
    background-color: white;
    padding: 1px;
    margin-bottom: 0.8em;
    margin-top: auto;
    height: 8.5em;
}
.container-custom {
    height: auto;
}
.img-custom {
    overflow: hidden;
    height: 50%;
    padding-right: 1%;   
}
.text {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 50px;
    color: black;
}
.custom-content1 {
    background-color: black;
    max-width: 31%;
    max-height: 80%;
    margin-bottom: 10%;
}
.custom-content2 {
    overflow: hidden;
    height: 80%;
    max-width: 100%;
}
borderA {
    border: 1px solid black;
}
@media screen {
    
}